# This is a basic workflow to help you get started with Actions

name: Hugo CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  hugo:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      
      - name: Setup Hugo Plugin
        uses: peaceiris/actions-hugo@v2
        with:
            hugo-version: "latest"
            extended: true
      
      - name: Build Hugo Page
        run: |
          cd hugo
          pwd
          hugo --minify
          hugo
          
      - name: Deploy
        uses: s0/git-publish-subdir-action@develop
        env:
          REPO: git@github.com:beijing-kug/beijing-kug.github.io.git
          SQUASH_HISTORY: "false"
          BRANCH:  main
          FOLDER: public
          SSH_PRIVATE_KEY: ${{ secrets.DEPLOY_PRIVATE_KEY }}